.nav {
    list-style-type: none;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 40px 5%;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.nav.active {
    padding: 10px 5%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 10px 0 10px rgba(102, 69, 163, 0.3);
}

.nav .links {
    margin-left: auto;
    display: flex;
    gap: 40px;
}

.nav .links a {
    text-decoration: none;
    font-size: large;
    color: #000;
    transition: all 0.3s;
}

.nav .logo img {
    position: relative;
    width: 200px;
    height: auto;
}

.nav a:hover {
    color: rgb(124, 64, 236);
}